@background-color: #000;
@font-color: #f9f9f9;
@orange-primary: #e59400;
@orange-secondary: #cc8400;

body {
  background: @background-color;
  color: @font-color;
}

button:focus {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

.card {
  color: @background-color;
}

.title {
  padding: 4rem 0;
}

.nav-link {
  color: @font-color;
}

.nav-link:hover {
  color: @orange-primary;
}

.MuiTab-wrapper {
  color: @font-color;
}

.active > .MuiTab-wrapper {
  color: @orange-primary;
}

.MuiTabs-flexContainer {
  background-color: #2e2e2e;
}

#orangeBtn:hover {
  color: @orange-primary;
}
#orangeBtn:active {
  color: @orange-secondary;
}
