@background-color: #000;
@font-color: #f9f9f9;

body {
  background: @background-color;
  color: @font-color;
}

.card {
  color: black;
}

.title {
  padding: 4rem 0;
}

.nav-link {
  color: #f9f9f9;
}

.nav-link:hover {
  color: orange;
}
