body {
  background: #000;
  color: #f9f9f9;
}
button:focus {
  outline: 0;
}
a:hover {
  text-decoration: none;
}
.card {
  color: #000;
}
.title {
  padding: 4rem 0;
}
.nav-link {
  color: #f9f9f9;
}
.nav-link:hover {
  color: #e59400;
}
.MuiTab-wrapper {
  color: #f9f9f9;
}
.active > .MuiTab-wrapper {
  color: #e59400;
}
.MuiTabs-flexContainer {
  background-color: #2e2e2e;
}
#orangeBtn:hover {
  color: #e59400;
}
#orangeBtn:active {
  color: #cc8400;
}
