@background-color: #000;
@font-color: #f9f9f9;
@orange-primary: #e59400;
@orange-secondary: #cc8400;

body {
  background: @background-color;
  color: @font-color;
}

button:focus {
  outline: 0;
}

.card {
  color: @background-color;
}

.title {
  padding: 4rem 0;
}

.nav-link {
  color: @font-color;
}

.nav-link:hover {
  color: @orange-primary;
}

#orangeBtn:hover {
  color: @orange-primary;
}
#orangeBtn:active {
  color: @orange-secondary;
}
