body {
  background: #000;
  color: #f9f9f9;
}
.card {
  color: black;
}
.title {
  padding: 4rem 0;
}
.nav-link {
  color: #f9f9f9;
}
.nav-link:hover {
  color: #e59400;
}
#orangeBtn:hover,
#orangeBtn:focus {
  color: #e59400;
  box-shadow: none;
}
#orangeBtn:active {
  color: #cc8400;
}
