body {
  background: #000;
  color: #f9f9f9;
}
button:focus {
  outline: 0;
}
.card {
  color: #000;
}
.title {
  padding: 4rem 0;
}
.nav-link {
  color: #f9f9f9;
}
.nav-link:hover {
  color: #e59400;
}
#orangeBtn:hover {
  color: #e59400;
}
#orangeBtn:active {
  color: #cc8400;
}
